@media (max-width: 480px) {
    .lading-page {
        background-image: url(../images/bg-mobile.svg);
        background-size: cover;
    }
    
    .huddle-infos {
        flex-direction: column;
        align-items: center;
    }

    .huddle-description {
        padding: 0rem 2rem;
    }

    .huddle-description .huddle-title {
        font-size: 3rem;
    }

    .huddle-description .huddle-text {
        font-size: 1.7rem;
    }
    
    .huddle-description .btn-register {
        align-self: center;
    }

    .footer .social {
        justify-content: center;
        padding-top: 2rem;
    }
}