@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html {
  font-size: 62.5%;
}

main {
  background: var(--primary-medium) url(../images/bg-desktop.svg) center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.header img {
  padding: 5.5rem 6.5rem;
}

.main {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.main img {
  max-width: 100%;
}

.huddle-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  max-width: 50rem;
  gap: 2rem;
}

.huddle-description h1 {
  font-size: 4rem;
}

.huddle-description p {
  font-size: 2rem;
}

.main .huddle-description .btn-register {
  align-self: flex-start;
  font-size: 2rem;
  background-color: #fff;
  color: var(--primary-medium);
  padding: 1.5rem 7rem;
  border-radius: 5rem;
  transition: 0.3s;
  box-shadow: 1rem 1rem 5rem #000;
}

.main .huddle-description .btn-register:hover {
  background-color: var(--primary-soft);
  color: #fff;
}

.footer .social {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding-right: 5rem;
}

.footer .social a i {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 1rem;
  font-size: 2rem;
  color: #fff;
  height: 4rem;
  width: 4rem;
  text-align: center;
  transition: 0.3s;
}

.footer .social a i:hover {
  color: var(--primary-soft);
  border: 1px solid var(--primary-soft);
}